* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
}

p,
h2,
h3 {
  padding: 10px;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;

  width: 100vw;
  max-width: 100%;
}

.wrapper section {
  border-top: 10px solid #1d313a;
}

.center-grid {
  display: grid;
  grid-template:
    "header header  header" auto
    ".      content ." 1fr /
    1fr 55ch 1fr;
}

.center {
  grid-area: content;
  padding: 20px;
  margin: 20px;
}

/* HOME */
.home {
  background-color: lightseagreen;
  height: 100vh;
}

/* HEADER */
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.header h1,
.header li a {
  color: #ffffffcc;
  margin: 20px 20px;
}

.header h1 {
  font-size: 1.5rem;
}

.header h1,
.header nav,
.header li,
.header a {
  display: inline-block;
}

.header li a {
  color: lightseagreen;
  text-decoration: none;
  font-weight: bold;

  background-color: #ffffffcc;
  padding: 10px 20px;
  border-radius: 4px;
}

/* HOME - INTRO SECTION */
.intro {
  grid-area: content;
  color: #ffffffcc;

  display: grid;
  place-items: center;
}

.intro .title {
  font-size: 4.5rem;
  font-weight: bold;
}

.intro strong {
  color: black;
}

.intro em {
  text-decoration: underline;
  text-decoration-color: black;
}

/* ABOUT ME SECTION */
.about-section {
  display: grid;
  place-items: center;
}

.about-section .skills {
  margin: 10px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* PORTOFOLIO SECTION */

.portofolio {
  padding: 40px;
  background-color: #ffebee;
}

.portofolio .project-list {
  display: grid;
  grid-template-columns: repeat(3, auto);

  margin: 2.5%;
  grid-gap: 2.5%;
  
  box-sizing: border-box;
}

.project-list .project {
  border: 10px solid #ae1457;
  border-radius: 10px;
  padding: 40px;

  place-items: center;

  background-color: white;
}

.project-list .project h3 {
  font-size: 2rem;
}

.project-list .project a {
  box-sizing: border-box;
  display: block;
  padding: 10px;
}

.project-list .project .read-me {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  border-radius: 10px;
  background-color: #ae1457;

  margin: 30px 20px 0px 20px;
}

.project-list .project .github-link {
  text-align: center;
  color: #ae1457;
  font-weight: bold;
}

.experience {
  display: grid;
  place-items: center;
}

/* FOOTER */

footer {
  background-color: #1d313a;
  color: white;
  padding: 5px;
}

/* TODO: Add Responsiveness,  @media */
